nav {
  background-color: rgb(80, 80, 80);
}

ul {
  display: flex;
  padding: 20px;
  justify-content: space-around;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-size: 25px;
  color: #ffff;
}

a:hover {
  font-weight: 500;
}

.main {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 180vh;
}

:host {
  justify-content: center;
  margin: 0 auto;
  height: 180vh;
  width: 500px;
}